
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
    width: 127px;
    height: 35px;
}


.btn-signin{
    background-color: #5E50A1;
    border-color: #5E50A1;
    color: white;

}

.btn-signup{
    border-color: #5E50A1 !important;
    color:#5E50A1;
}

.btn-start{
    border-color: #5E50A1;
    background-color: #5E50A1;
    color:white;
}

.h1{
    font-size: 44px;
    font-weight: 600;
}

.box-cta{
    background-color: #5E50A1;
    border-color: #5E50A1;

    border-radius: 25px 10px 25px 10px;
}

.btn-cta{
    background-color:#FFFFFF;
    color: #5E50A1;
    border-color:  #FFFFFF;
    border-radius: 10px;
}

.text-cta{
font-size: 36px;
font-weight: 600;
color: white;
}


.footer{
    background-color: #5E50A1;
}

.p-footer{
    color: #FFFFFF;
}
